.container{
  position: fixed;
  width: 100%;
  height:100%;
  background-color: antiquewhite;
  z-index: 10000;
  top: 0;
  left: 0;
}
.details{
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}
img{
  border-bottom:10px solid rosybrown ;
  width: 50%;
  height: 100%;

}
h1{
  color: rgb(237, 42, 17);
  text-transform: lowercase;
}
